.content__photo-grid {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px ;
}

@media screen and (max-width: 1279px) {
    .content__photo-grid {
        margin-bottom: 92px;
    }
}

@media screen and (max-width: 1023px) {
    .content__photo-grid {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .content__photo-grid {
        margin-bottom: 64px;
    }
}