.footer {
    width: calc(100% - 2 * 48px);
}

@media screen and (max-width: 1023px) {
    .footer {
        width: calc(100% - 2 * 24px);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        width: 100%;
    }
}