.header__lang-links {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: self-end;
    margin-top: 46px;  
}

@media screen and (max-width: 767px) {
    .header__lang-links {
        margin-top: 30px; 
    }
}