.content__lead {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 92px;
}


@media screen and (max-width: 1023px) {
    .content__lead {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .content__lead {
        margin-bottom: 64px;
    }
}
